.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .outer-container {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  
  .inner-container {
    max-width: 1320px;
    flex-direction: column;
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
  }
  
  .card-container {
    overflow-x: visible;
    overflow-y: visible;
  }
  
  .heading-text {
    font-size: 48px;
    line-height: 65px;
    font-weight: 900;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  
  .name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .team-member-image {
    height: 230px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 270px;
  }
  
  .card {
    display: block;
  }
  
  .position {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .swiper-slide {
    justify-content: flex-start;
    display: flex;
  }
  
  .arrow-right {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    cursor: pointer;
    height: 14px;
    width: 24px;
  }
  
  .arrow-left {
    height: 14px;
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    cursor: pointer;
  }
  
  .btn {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    flex-direction: row-reverse;
  }
  
  .swiper-pagination {
    position: static;
    text-align: left;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .team-swiper {
    overflow: hidden;
  }
  
  @media (max-width: 768px) {
    .inner-container {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      justify-content: center;
    }
  
    .card-container {
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
    }
  
    .swiper-slide {
      justify-content: center;
    }
  
    .heading-text {
      text-align: center;
    }
  
    .swiper-pagination {
      text-align: center;
    }
  
    .arrow-left {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
    }
  
    .arrow-right {
      height: 14px;
    }
  
    .swiper-slide.empty {
      display: none;
    }
  }
  
  @media (max-width: 500px) {
    .inner-container {
      margin-top: 80px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
      align-items: flex-start;
    }
  
    .card-container {
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
    }
  
    .heading-text {
      text-align: center;
    }
  
    .card-container {
      align-items: flex-start;
    }
  
    .btn {
      justify-content: flex-start;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
      text-align: left;
    }
  
    .arrow-left {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .team-member-image {
      width: 240px;
      height: 200px;
    }
  
    .outer-container {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .btn {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 10px;
    }
  }